* {
    font-family: cursive;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
}

img {
    height: 40px;
    position: absolute;
    transform: rotateX(20%);
    /* border: 1px solid gray; */
}