@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    height: 100vh;
    background-color: rgb(19, 2, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 90vh;
    width: 60vw;
    border-radius: 20px;
    background: rgba(9, 5, 37, 0.823);
    display: flex;
    box-shadow: 2px 2px 40px rgb(5, 4, 58);
}


.dashboard {
    height: 85vh;
    width: 17vw;
    margin: 10px;
    background-color: rgb(19, 2, 50);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.intro {
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
}

.intro img {
    height: 75px;
    width: 75px;
}

.links {
    height: 20px;
    width: 150px;
}

.links img {
    float: left;
    height: 28px;
    width: 28px;
    margin: -7px 10px 4px 20px;
    border-radius: 50%;
    filter:invert(84%) sepia(126%) saturate(271%) hue-rotate(96deg) brightness(99%) contrast(84%);
}

.links p{
    font-weight: bolder;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: rgba(137, 137, 192, 0.798);
}

.skills {
    text-align: center;
    height: 100px;
    width: 180px;
    border-radius: 15px;
    background: linear-gradient(to right top,
            rgb(106, 255, 205), rgb(117, 255, 246));
}

.skills img {
    height: 30px;
    width: 30px;
}

.projects {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    column-gap:10px 10px;
    color: white;
    width: 70%;
    border: 1px solid white;
    border-radius: 20px;
}


.card {
    height: 80px;
    width: 400px;
    /* margin-left: 50px; */
    position: relative;
    top: 0px;
    border: 1px solid white;
} 

.card h2 {
    font-size: 37px;
    color: rgb(24, 24, 59);
    opacity: 0.7;
}


.card .bar {
    height: 12px;
    width: 250px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9),
            rgba(244, 244, 244, 0.672));
    border-radius: 40px;
}

.box {
    height: 110px;
    width: 110px;
    background-color: rgb(4, 9, 49);
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 6px 6px 20px rgba(108, 114, 113, 0.282);
}

.box h4 {
    position: relative;
    top: 10px;
}

.box p {
    position: relative;
    top: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.525);
}

.box img {
    float: left;
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 6px;
}

.box a{
    color: rgb(34, 34, 63);
    opacity: 0.7;
}